<%- include("header.ejs");-%>
    <body>
    <div class="box" id="heading">
        <h2> <%=Title%></h2>
    </div>
    <div class="box">
        <% var n= new_item.length %>
        <% for(var i=0;i<n;i++){%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkBox" value=<%=new_item[i]._id%> onChange="this.form.submit()">
                    <input type="hidden" name="ListName" value=<%=Title%> >
                    <p><%=new_item[i].thing%></p>
                </div>
            </form>
        <%}%>
        <form class="item" action="/" method="post">
            <input type="text" name="Addwork" placeholder="Add a work">
            <button type ="submit" name="list" value=<%=Title %> >+</button>
        </form>
    </div>
        
    </body>
<%- include("footer.ejs");-%>